<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>MiniBlog</title>
    <link rel="stylesheet" th:href="@{/editormd/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout">
    <header>
        <h1>写文章</h1>
    </header>
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>
<script th:src="@{/editormd/js/jquery.min.js}"></script>
<script th:src="@{/editormd/js/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            emoji: true,
            path: "../editormd/lib/"
        });
    });
</script>
</body>
</html>